#bettingForm {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // justify-content: center;
    // background-color: blue;
    // position: relative;
}


.bettingButtons {

    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .bettingButton {
        width: 67px;
        //margin: 0 auto;
    }

    .clicked {
        border: solid white 2px;
    }

    // padding:10px calc(50% - 80px);

    #btnGreen {
        background-color: green;

    }

    #btnRed {
        background-color: red;
    }

    #btnBlack {
        background-color: black;
        color: white;
    }


}

#betBtn {
    width: 100px;
}


#btnLow,
#btnOdd,
#btnRed,
#btnGreen {
    margin-left: auto;
}

#btnHigh,
#btnEven,
#btnBlack,
#btnNumber {
    margin-right: auto;
}




#betInput {
    // position: absolute;
    // left: 50%;
    // width: 100px;
    float: right;
}

#wagerInput {
    width: 35px
}