// styling for logged-out part 
header {
    height: fit-content;
}
#logoDiv {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#logInBtn {
    
}

footer {
    background-color: red;
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100vw;
}
a {
    color: black;
    margin-left: 15px;
}
