body{
    background-color: #999999;
    flex-direction: column;
    margin: 20px;
}
footer {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
a {
    color: black;
    text-decoration-line: none;
}